:root{
  --pri: #007fff
}

.App {
  text-align: center;
}
body {
  font-family: 'Roboto';
}
.head-logo {
  max-width: 60%;
}

.title {
  color: var(--pri);
  font-size: 3rem;
  padding-top: 0;
  margin-top: 0;
}

.btn-home {
  background-color: var(--pri);
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 3rem;
}

.btn-home:active {
  background-color:  #0066cc;
}

.datagrid {
  text-align: center;
  display: flex;
  height: 800px;
  width: 80%;
}

.Container {
  text-align: center;
  margin: auto;
}